<h1>Edit task</h1>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.submit class: "btn btn-success mt-2"%>
<% end %>

<%= link_to tasks_path,  class: "btn btn-light mt-2" do %>
  <i class="fas fa-undo-alt"> Back to list</i>
<% end %>
