<h1>Edit task</h1>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <p>
    <%= f.check_box :completed, as: :boolean %>
    Check if this task is completed !
  </p>
<div>
    <%= f.submit class: "btn btn-success mt-2"%>
  <% end %>

  <%= link_to root_path, class: "btn btn-secondary mt-2" do %>
    <i class="fas fa-undo-alt"> Back to list</i>
  <% end %>
</div>
