<h1> <%= @task.title %> </h1>

<div class="alert alert-info">
  <p><%= @task.details %></p>
</div>
<p><%= @task.completed ? "✅ This task is completed" : "❌ This task is not completed yet" %></p>

<hr>
<%= link_to task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"> Delete</i>
<% end %>

<%= link_to edit_task_path, class: "btn btn-primary" do %>
 <i class="far fa-edit"> Edit</i>
<% end %>

<%= link_to root_path, class: "btn btn-secondary" do %>
  <i class="fas fa-undo-alt"> Back to list</i>
<% end %>
